<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<%= render @messages %>

<%= form_for(Message.new) do |f| %>
    <%= f.hidden_field :user_id, :value=> current_user.id %>
    <div class="field">
        <%= f.text_area :content, size: '50x8' %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

